<section>
  <h1>Registrati</h1>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Scrivi qui" />
      <mat-hint>La tua mail</mat-hint>
      <mat-error *ngIf="signupForm.get('email').hasError('required')">
        Per favore inserisci una mail
      </mat-error>
      <mat-error *ngIf="signupForm.get('email').hasError('email')">
        Per favore inserisci una mail valida
      </mat-error>
      <mat-error *ngIf="signupForm.get('email').errors?.emailTaken">
        Questa mail è stata già utilizzata
      </mat-error>
    </mat-form-field>

    <mat-spinner
      [diameter]="30"
      *ngIf="signupForm.get('email').status === 'PENDING'"
    ></mat-spinner>

    <mat-form-field appearance="outline">
      <mat-label>Nome utente</mat-label>
      <input formControlName="username" matInput placeholder="Scrivi qui" />
      <mat-hint>Il tuo nome utente</mat-hint>
      <mat-error *ngIf="signupForm.get('username').hasError('required')">
        Per favore inserisci un username
      </mat-error>

      <mat-error *ngIf="signupForm.get('username').errors?.usernameTaken">
        Questo username è stato già utilizzato
      </mat-error>
    </mat-form-field>

    <mat-spinner
      [diameter]="30"
      *ngIf="signupForm.get('username').status === 'PENDING'"
    ></mat-spinner>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        placeholder="Scrivi qui"
        type="password"
      />
      <mat-hint>La tua password</mat-hint>
      <mat-error *ngIf="signupForm.get('password').hasError('required')">
        Per favore inserisci una password
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Accedi
    </button>
  </form>
</section>
