section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.submit {
  margin: 2em 0;
}

.reset {
  margin: 0 1em;
}

img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
